<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <title>Hestia MD | Sales</title>
  <th:block th:insert="~{fragments/head}"></th:block>
</head>
<body class="aa-price-range">
<!-- Pre Loader -->
<div id="aa-preloader-area">
  <div class="pulse"></div>
</div>
<!-- SCROLL TOP BUTTON -->
<a class="scrollToTop" href="#"><i class="fa fa-angle-double-up"></i></a>
<!-- END SCROLL TOP BUTTON -->


<!-- Start header section -->
<header id="aa-header">
  <th:block th:insert="~{fragments/header}"></th:block>
</header>
<!-- End header section -->
<!-- Start menu section -->
<section id="aa-menu-area">
  <nav class="navbar navbar-default main-navbar" role="navigation">
    <th:block th:insert="~{fragments/nav}"></th:block>
  </nav>
</section>
<!-- End menu section -->

<!-- Start Proerty header  -->

<section id="aa-property-header">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <div class="aa-property-header-inner">
          <h2>Hestia MD</h2>
          <ol class="breadcrumb">
            <li><a href="/">HOME</a></li>
            <li class="active">SALES</li>
          </ol>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- End Proerty header  -->

<!-- Start Properties  -->
<section id="aa-properties">
  <div class="container">
    <div class="row">
      <!--            <div class="col-md-8">-->
      <!--                -->
      <!--            </div>-->
      <div class="aa-properties-content">
        <div class="aa-title" th:if="${userOffers.size() == 0}">
          <h2>You currently have no active offers!</h2>
        </div>
        <!-- Start properties content body -->
        <div class="aa-properties-content-body" th:each="us : ${userOffers}" th:object="${us}">
          <ul class="aa-properties-nav">
            <li>
              <article class="aa-properties-item">
                <a class="aa-properties-item-img" th:href="@{/offers/details/(id = *{id})}">
                  <img alt="img" width="400" height="280" th:src="*{getHeadingImageUrl()}">
                </a>
                <div th:class="'aa-tag ' + ${us.offerType.equals('SALE') ? 'for-sale' : 'for-rent'}"
                     th:text="*{offerType}">
                  For Rent
                </div>
                <div class="aa-properties-item-content">
                  <div class="aa-properties-info">
                    <span th:text="|*{floor} Floor|">5 Floor</span>
                    <span th:text="|*{room} Rooms|">2 Rooms</span>
                    <span th:text="|*{bath} Baths|">3 Baths</span>
                    <span th:text="|*{quadrature} m2|">1100 SQ FT</span>
                  </div>
                  <div class="aa-properties-about">
                    <h3 th:text="*{area}"><a href="#">Appartment Title</a></h3>
                    <p th:text="${#strings.abbreviate(us.description, 100)}">Lorem ipsum dolor
                      sit amet, consectetur adipisicing elit. Enim molestiae vero ducimus
                      quibusdam odit vitae.</p>
                  </div>
                  <div class="aa-properties-detial">
                    <span class="aa-price" th:text="*{price}">
                    </span><span class="aa-price" th:utext="${'&#8364;'}"></span>
                    <a class="aa-secondary-btn" th:href="@{/offers/details/(id = *{id})}">View Details</a>
                  </div>
                </div>
              </article>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- / Properties  -->

<!-- Footer -->
<footer id="aa-footer">
  <th:block th:insert="~{fragments/footer}"></th:block>
</footer>
<!-- / Footer -->


<!-- jQuery library -->
<!--<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script> -->
<script src="/js/jquery.min.js"></script>
<!-- Include all compiled plugins (below), or include individual files as needed -->
<script src="/js/bootstrap.js"></script>
<!-- slick slider -->
<script type="text/javascript" src="/js/slick.js"></script>
<!-- Price picker slider -->
<script type="text/javascript" src="/js/nouislider.js"></script>
<!-- mixit slider -->
<script type="text/javascript" src="/js/jquery.mixitup.js"></script>
<!-- Add fancyBox -->
<script type="text/javascript" src="/js/jquery.fancybox.pack.js"></script>
<!-- Custom js -->
<script src="/js/custom.js"></script>

</body>
</html>