<th:block xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="aa-header-area">
                    <div class="row">
                        <div class="col-md-6 col-sm-6 col-xs-6">
                            <div class="aa-header-left">
                                <div class="aa-telephone-no">
                                    <span class="fa fa-phone"></span>
                                    +359-988-825-952
                                </div>
                                <div class="aa-email hidden-xs">
                                    <span class="fa fa-envelope-o"></span> hestiamd@gmail.com
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6 col-sm-6 col-xs-6">
                            <div class="aa-header-right">
                                <th:block sec:authorize="isAnonymous()">
                                    <a th:href="@{/users/register}" class="aa-register">Register</a>
                                    <a th:href="@{/users/signin}" class="aa-login">Login</a>
                                </th:block>
                                <th:block sec:authorize="isAuthenticated()">

                                    <form method="post" th:action="@{/users/logout}">
                                        <a class="aa-login">Welcome, <th:block sec:authentication="name"></th:block>!</a>
                                        <button type="submit" name="submit" value="value" class="logout-button">Logout</button>
                                    </form>
                                </th:block>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</th:block>