<!DOCTYPE html>
<html lang="en">
<head>
  <title>Home Property | 403</title>
  <th:block th:insert="~{fragments/head}"></th:block>
</head>
<body>
<!-- Pre Loader -->
<div id="aa-preloader-area">
  <div class="pulse"></div>
</div>
<!-- SCROLL TOP BUTTON -->
<a class="scrollToTop" href="#"><i class="fa fa-angle-double-up"></i></a>
<!-- END SCROLL TOP BUTTON -->


<!-- Start header section -->
<header id="aa-header">
  <th:block th:insert="~{fragments/header}"></th:block>
</header>
<!-- End header section -->
<!-- Start menu section -->
<section id="aa-menu-area">
  <nav class="navbar navbar-default main-navbar" role="navigation">
    <th:block th:insert="~{fragments/nav}"></th:block>
  </nav>
</section>
<!-- End menu section -->

<!-- Start Proerty header  -->
<section id="aa-property-header">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <div class="aa-property-header-inner">
          <h2>No Permission</h2>
          <ol class="breadcrumb">
            <li><a href="/">HOME</a></li>
            <li class="active">NO PERMISSION</li>
          </ol>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- End Proerty header  -->
<section id="aa-error">
  <div class="container">
    <row>
      <div class="col-md-12">
        <div class="aa-error-area">
          <h2>403</h2>
          <p><span class="fa fa-warning"></span>Oops! You have no permission to perform this operation!</p>
          <a href="/">Back Home</a>
        </div>
      </div>
    </row>
  </div>
</section>


<!-- Footer -->
<footer id="aa-footer">
  <th:block th:insert="~{fragments/footer}"></th:block>
</footer>
<!-- / Footer -->

<!-- jQuery library -->
<!--<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script> -->
<script src="/js/jquery.min.js"></script>
<!-- Include all compiled plugins (below), or include individual files as needed -->
<script src="/js/bootstrap.js"></script>
<!-- slick slider -->
<script type="text/javascript" src="/js/slick.js"></script>
<!-- Price picker slider -->
<script type="text/javascript" src="/js/nouislider.js"></script>
<!-- mixit slider -->
<script type="text/javascript" src="/js/jquery.mixitup.js"></script>
<!-- Add fancyBox -->
<script type="text/javascript" src="/js/jquery.fancybox.pack.js"></script>
<!-- Custom js -->
<script src="/js/custom.js"></script>

</body>
</html>