.selectItem {
    border: 1px solid #fff;
    border-radius: 2px;
    color: #555;
    height: 40px;
    padding: 5px;
    width: 100%;
}

#aa-signin .aa-signin-area .aa-signin-form .aa-single-field input[type="number"], #aa-signin .aa-signin-area .aa-signin-form .aa-single-field input[type="date"]{
    border: none;
    color: #555;
    margin-bottom: 10px;
    height: 35px;
    padding: 5px;
    width: 100%;
}

div.aa-header-right form button.logout-button {
    background-color: transparent;
    background-repeat: no-repeat;
    color: white;
    border: none;
    cursor: pointer;
    overflow: hidden;
    outline: none;
}

div.add-offer-message {
    margin-top: 60px;
    text-align: center;
}

div.back-button {
    margin-top: 20px;
}

.update-profile-btn {
    background-color: #008CBA;
    border: none;
    color: white;
    margin-top: 20px;
    padding: 12px 28px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
}

.base-status {
    color: white;
    padding: 2px 8px 3px 8px;
    border-radius: 15px;
}

.active-status {
    background: #419841;
}

.blocked-status {
    background: #d34238;
}

.pending-status {
    background: coral;
}

.expired-status {
    background: gray;
}

.inline-form {
    display: inline;
}

.upload-images-form {
    margin: 20px 0;
}

.upload-images-form input[type='file'] {
    display: inline;
}

.image-to-update {
    width: 190px;
    height: 190px;
    margin: 0px 2px 10px 0px;
}

.deleteImageBtn {
    position: absolute;
}