<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <title>Home Property | Property Details</title>
  <th:block th:include="~{fragments/head}"></th:block>
</head>
<body class="aa-price-range">
<!-- Pre Loader -->
<div id="aa-preloader-area">
  <div class="pulse"></div>
</div>
<!-- SCROLL TOP BUTTON -->
<a class="scrollToTop" href="#"><i class="fa fa-angle-double-up"></i></a>
<!-- END SCROLL TOP BUTTON -->


<!-- Start header section -->
<header id="aa-header">
  <th:block th:include="~{fragments/header}"></th:block>
</header>
<!-- End header section -->
<!-- Start menu section -->
<section id="aa-menu-area">
  <nav class="navbar navbar-default main-navbar" role="navigation">
    <th:block th:include="~{fragments/nav}"></th:block>
  </nav>
</section>
<!-- End menu section -->

<!-- Start Proerty header  -->

<section id="aa-property-header">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <div class="aa-property-header-inner">
          <h2>Hestia MD</h2>
          <ol class="breadcrumb">
            <li><a th:href="@{/index}">HOME</a></li>
            <li class="active">APARTMENT DETAILS</li>
          </ol>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- End Proerty header  -->

<!-- Start Properties  -->
<section id="aa-properties">
  <div class="container">
    <div class="row">
      <div class="col-md-8">
        <div class="aa-properties-content">
          <!-- Start properties content body -->
          <div class="aa-properties-details" th:object="${property}">
            <div class="aa-properties-details-img">
              <img src="/img/slider/1.jpg" alt="img">
              <img src="/img/slider/2.jpg" alt="img">
              <img src="/img/slider/3.jpg" alt="img">
            </div>
            <div class="aa-properties-info">
              <h2 th:text="*{estateType.replaceAll('_', ' ')}"></h2>
              <span class="aa-price" th:text="*{price}"></span><span class="aa-price" th:utext="${'&#8364;'}"></span>
              <p th:text="*{description}"></p>
              <h4>Property Features</h4>
              <ul>
                <li th:text="|*{quadrature} m2|"></li>
                <li th:text="|*{floor} Floor|">4 Floor</li>
                <li th:text="|*{room} Rooms|">4 Floor</li>
                <li th:text="|*{bed} Bedrooms|">4 Bedroom</li>
                <li th:text="|*{bath} Baths|">3 Baths</li>
                <li th:text="*{propertyType.substring(0, 1) + propertyType.substring(1).toLowerCase()}"></li>
              </ul>
<!--              <h4>Property Video</h4>-->
<!--              <iframe width="100%" height="480" src="https://www.youtube.com/embed/CegXQps0In4" frameborder="0" allowfullscreen></iframe>-->
<!--              <h4>Property Map</h4>-->
<!--              <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d6851.201919469417!2d-86.11773906635584!3d33.47324776828677!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x888bdb60cc49c571%3A0x40451ca6baf275c7!2s36008+AL-77%2C+Talladega%2C+AL+35160%2C+USA!5e0!3m2!1sbn!2sbd!4v1460452919256" width="100%" height="450" frameborder="0" style="border:0" allowfullscreen></iframe>-->
            </div>
            <!-- Properties social share -->
            <div class="aa-properties-social">
              <ul>
                <li>Share</li>
                <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                <li><a href="#"><i class="fa fa-google-plus"></i></a></li>
                <li><a href="#"><i class="fa fa-pinterest"></i></a></li>
              </ul>
            </div>
            <!-- Nearby properties -->
<!--            <div class="aa-nearby-properties">-->
<!--              <div class="aa-title">-->
<!--                <h2>Nearby Properties</h2>-->
<!--                <span></span>-->
<!--              </div>-->
<!--              <div class="aa-nearby-properties-area">-->
<!--                <div class="row">-->
<!--                  <div class="col-md-6">-->
<!--                    <article class="aa-properties-item">-->
<!--                      <a class="aa-properties-item-img" href="#">-->
<!--                        <img alt="img" src="img/item/1.jpg">-->
<!--                      </a>-->
<!--                      <div class="aa-tag for-sale">-->
<!--                        For Sale-->
<!--                      </div>-->
<!--                      <div class="aa-properties-item-content">-->
<!--                        <div class="aa-properties-info">-->
<!--                          <span>5 Rooms</span>-->
<!--                          <span>2 Beds</span>-->
<!--                          <span>3 Baths</span>-->
<!--                          <span>1100 SQ FT</span>-->
<!--                        </div>-->
<!--                        <div class="aa-properties-about">-->
<!--                          <h3><a href="#">Appartment Title</a></h3>-->
<!--                          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Enim molestiae vero ducimus quibusdam odit vitae.</p>-->
<!--                        </div>-->
<!--                        <div class="aa-properties-detial">-->
<!--                            <span class="aa-price">-->
<!--                              $35000-->
<!--                            </span>-->
<!--                          <a class="aa-secondary-btn" href="#">View Details</a>-->
<!--                        </div>-->
<!--                      </div>-->
<!--                    </article>-->
<!--                  </div>-->
<!--                  <div class="col-md-6">-->
<!--                    <article class="aa-properties-item">-->
<!--                      <a class="aa-properties-item-img" href="#">-->
<!--                        <img alt="img" src="img/item/2.jpg">-->
<!--                      </a>-->
<!--                      <div class="aa-tag for-sale">-->
<!--                        For Sale-->
<!--                      </div>-->
<!--                      <div class="aa-properties-item-content">-->
<!--                        <div class="aa-properties-info">-->
<!--                          <span>5 Rooms</span>-->
<!--                          <span>2 Beds</span>-->
<!--                          <span>3 Baths</span>-->
<!--                          <span>1100 SQ FT</span>-->
<!--                        </div>-->
<!--                        <div class="aa-properties-about">-->
<!--                          <h3><a href="#">Appartment Title</a></h3>-->
<!--                          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Enim molestiae vero ducimus quibusdam odit vitae.</p>-->
<!--                        </div>-->
<!--                        <div class="aa-properties-detial">-->
<!--                          <span class="aa-price">-->
<!--                            $35000-->
<!--                          </span>-->
<!--                          <a class="aa-secondary-btn" href="#">View Details</a>-->
<!--                        </div>-->
<!--                      </div>-->
<!--                    </article>-->
<!--                  </div>-->
<!--                </div>-->
<!--              </div>-->

<!--            </div>-->

          </div>
        </div>
      </div>
      <!-- Start properties sidebar -->
<!--      <div class="col-md-4">-->
<!--        <aside class="aa-properties-sidebar">-->
<!--          &lt;!&ndash; Start Single properties sidebar &ndash;&gt;-->
<!--          <div class="aa-properties-single-sidebar">-->
<!--            <h3>Properties Search</h3>-->
<!--            <form action="">-->
<!--              <div class="aa-single-advance-search">-->
<!--                <input type="text" placeholder="Type Your Location">-->
<!--              </div>-->
<!--              <div class="aa-single-advance-search">-->
<!--                <select id="" name="">-->
<!--                  <option selected="" value="0">Category</option>-->
<!--                  <option value="1">Flat</option>-->
<!--                  <option value="2">Land</option>-->
<!--                  <option value="3">Plot</option>-->
<!--                  <option value="4">Commercial</option>-->
<!--                </select>-->
<!--              </div>-->
<!--              <div class="aa-single-advance-search">-->
<!--                <select id="" name="">-->
<!--                  <option selected="" value="0">Type</option>-->
<!--                  <option value="1">Flat</option>-->
<!--                  <option value="2">Land</option>-->
<!--                  <option value="3">Plot</option>-->
<!--                  <option value="4">Commercial</option>-->
<!--                </select>-->
<!--              </div>-->
<!--              <div class="aa-single-advance-search">-->
<!--                <select id="" name="">-->
<!--                  <option selected="" value="0">Type</option>-->
<!--                  <option value="1">Flat</option>-->
<!--                  <option value="2">Land</option>-->
<!--                  <option value="3">Plot</option>-->
<!--                  <option value="4">Commercial</option>-->
<!--                </select>-->
<!--              </div>-->
<!--              <div class="aa-single-filter-search">-->
<!--                <span>AREA (SQ)</span>-->
<!--                <span>FROM</span>-->
<!--                <span id="skip-value-lower" class="example-val">30.00</span>-->
<!--                <span>TO</span>-->
<!--                <span id="skip-value-upper" class="example-val">100.00</span>-->
<!--                <div id="aa-sqrfeet-range" class="noUi-target noUi-ltr noUi-horizontal noUi-background">-->
<!--                </div>-->
<!--              </div>-->
<!--              <div class="aa-single-filter-search">-->
<!--                <span>PRICE ($)</span>-->
<!--                <span>FROM</span>-->
<!--                <span id="skip-value-lower2" class="example-val">30.00</span>-->
<!--                <span>TO</span>-->
<!--                <span id="skip-value-upper2" class="example-val">100.00</span>-->
<!--                <div id="aa-price-range" class="noUi-target noUi-ltr noUi-horizontal noUi-background">-->
<!--                </div>-->
<!--              </div>-->
<!--              <div class="aa-single-advance-search">-->
<!--                <input type="submit" value="Search" class="aa-search-btn">-->
<!--              </div>-->
<!--            </form>-->
<!--          </div>-->
<!--          &lt;!&ndash; Start Single properties sidebar &ndash;&gt;-->
<!--          <div class="aa-properties-single-sidebar">-->
<!--            <h3>Populer Properties</h3>-->
<!--            <div class="media">-->
<!--              <div class="media-left">-->
<!--                <a href="#">-->
<!--                  <img class="media-object" src="img/item/1.jpg" alt="img">-->
<!--                </a>-->
<!--              </div>-->
<!--              <div class="media-body">-->
<!--                <h4 class="media-heading"><a href="#">This is Title</a></h4>-->
<!--                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>-->
<!--                <span>$65000</span>-->
<!--              </div>-->
<!--            </div>-->
<!--            <div class="media">-->
<!--              <div class="media-left">-->
<!--                <a href="#">-->
<!--                  <img class="media-object" src="img/item/1.jpg" alt="img">-->
<!--                </a>-->
<!--              </div>-->
<!--              <div class="media-body">-->
<!--                <h4 class="media-heading"><a href="#">This is Title</a></h4>-->
<!--                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>-->
<!--                <span>$65000</span>-->
<!--              </div>-->
<!--            </div>-->
<!--            <div class="media">-->
<!--              <div class="media-left">-->
<!--                <a href="#">-->
<!--                  <img class="media-object" src="img/item/1.jpg" alt="img">-->
<!--                </a>-->
<!--              </div>-->
<!--              <div class="media-body">-->
<!--                <h4 class="media-heading"><a href="#">This is Title</a></h4>-->
<!--                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>-->
<!--                <span>$65000</span>-->
<!--              </div>-->
<!--            </div>-->
<!--          </div>-->
<!--        </aside>-->
<!--      </div>-->
    </div>
  </div>
</section>
<!-- / Properties  -->

<!-- Footer -->
<footer id="aa-footer">
  <th:block th:include="~{fragments/footer}"></th:block>
</footer>
<!-- / Footer -->

<!-- jQuery library -->
<!--<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script> -->
<script src="/js/jquery.min.js"></script>
<!-- Include all compiled plugins (below), or include individual files as needed -->
<script src="/js/bootstrap.js"></script>
<!-- slick slider -->
<script type="text/javascript" src="/js/slick.js"></script>
<!-- Price picker slider -->
<script type="text/javascript" src="/js/nouislider.js"></script>
<!-- mixit slider -->
<script type="text/javascript" src="/js/jquery.mixitup.js"></script>
<!-- Add fancyBox -->
<script type="text/javascript" src="/js/jquery.fancybox.pack.js"></script>
<!-- Custom js -->
<script src="/js/custom.js"></script>

</body>
</html>