<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <title>Home Property | Property Details</title>
    <th:block th:insert="~{fragments/head}"></th:block>
</head>
<body class="aa-price-range">
<!-- Pre Loader -->
<div id="aa-preloader-area">
    <div class="pulse"></div>
</div>
<!-- SCROLL TOP BUTTON -->
<a class="scrollToTop" href="#"><i class="fa fa-angle-double-up"></i></a>
<!-- END SCROLL TOP BUTTON -->


<!-- Start header section -->
<header id="aa-header">
    <th:block th:insert="~{fragments/header}"></th:block>
</header>
<!-- End header section -->
<!-- Start menu section -->
<section id="aa-menu-area">
    <nav class="navbar navbar-default main-navbar" role="navigation">
        <th:block th:insert="~{fragments/nav}"></th:block>
    </nav>
</section>
<!-- End menu section -->

<!-- Start Proerty header  -->

<section id="aa-property-header">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="aa-property-header-inner">
                    <h2>Hestia MD</h2>
                    <ol class="breadcrumb">
                        <li><a href="/">HOME</a></li>
                        <li class="active">APARTMENT DETAILS</li>
                    </ol>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- End Proerty header  -->

<!-- Start Properties  -->
<section id="aa-latest-property">
    <div class="container">
        <div class="row">
            <div class="col-md-8">
                <div class="aa-properties-content">
                    <!-- Start properties content body -->
                    <div class="aa-properties-details" th:object="${offer}">
                        <div class="aa-properties-details-img">
                            <th:block th:if="${offer.getImagesIds().size() == 0}">
                                <img th:src="@{/images/no-image.png}" alt="img">
                            </th:block>
                            <div th:each="imgId : ${offer.getImagesIds()}">
                                <img th:src="@{${'/images/download/' + imgId}}" alt="img">
                            </div>
                        </div>
                        <div class="aa-properties-info">
                            <h2 th:text="|${offer.estateType.replaceAll('_', ' ')} in ${offer.city}|"></h2>
                            <span class="aa-price" th:text="*{price}"></span><span class="aa-price" th:utext="${'&#8364;'}"></span>
                            <p th:text="*{description}"></p>
                            <h4>Property Features</h4>
                            <ul>
                                <li th:text="|*{area} District|"></li>
                                <li th:text="|*{quadrature} m2|"></li>
                                <li th:text="|*{floor} Floor|">4 Floor</li>
                                <li th:text="|*{room} Rooms|">4 Floor</li>
                                <li th:text="|*{bed} Bedrooms|">4 Bedroom</li>
                                <li th:text="|*{bath} Baths|">3 Baths</li>
                                <li th:text="*{propertyType.substring(0, 1) + propertyType.substring(1).toLowerCase().replaceAll('_', ' ')}"></li>
                            </ul>
                            <th:block sec:authorize="hasRole('USER')">
                                <h4>Owner Information</h4>
                                <ul>
                                    <li th:text="|Name: *{owner.fullName}|">
<!--                                        <a th:href="@{/profile/offers/(id = *{owner.id})}" th:text="|Name: *{owner.fullName}|"></a>-->
                                    </li>
                                    <li th:text="|Phone number: *{owner.phoneNumber}|"></li>
                                </ul>
                            </th:block>

                        </div>
                        <th:block sec:authorize="hasRole('USER')">
                            <div class="aa-properties-social" th:if="${(offer.owner.id == #authentication.principal.id && !offer.statusType.equals('BLOCKED')) || #authentication.principal.isAdmin()}">
                                <th:block>
                                    <form class="inline-form" th:action="@{/offers/delete/(id = *{id})}" th:method="delete">
                                        <input id="UpdateOfferBtn" type="button" value="Edit" class="aa-secondary-btn" th:data="*{id}">
                                        <input class="aa-secondary-btn" type="submit" value="Delete">
                                    </form>
                                    <form class="inline-form" th:if="${offer.statusType.equals('EXPIRED')}" th:action="@{/offers/republish/(id = *{id})}" th:method="put">
                                        <input class="aa-secondary-btn" type="submit" value="Republish" >
                                    </form>
                                </th:block>
                            </div>
                        </th:block>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- / Properties  -->

<!-- Footer -->
<footer id="aa-footer">
    <th:block th:insert="~{fragments/footer}"></th:block>
</footer>
<!-- / Footer -->

<!-- jQuery library -->
<!--<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script> -->
<script src="/js/jquery.min.js"></script>
<!-- Include all compiled plugins (below), or include individual files as needed -->
<script src="/js/bootstrap.js"></script>
<!-- slick slider -->
<script type="text/javascript" src="/js/slick.js"></script>
<!-- Price picker slider -->
<script type="text/javascript" src="/js/nouislider.js"></script>
<!-- mixit slider -->
<script type="text/javascript" src="/js/jquery.mixitup.js"></script>
<!-- Add fancyBox -->
<script type="text/javascript" src="/js/jquery.fancybox.pack.js"></script>
<!-- Custom js -->
<script src="/js/custom.js"></script>
<script>
    const btn = document.getElementById("UpdateOfferBtn");
    btn.addEventListener('click', ev => {
        let offerId = ev.target.getAttribute('data');
        window.location.href = "/offers/update/?id=" + offerId;
    })
</script>
</body>
</html>