<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>

  <title>Home Property | Update Offer</title>
  <th:block th:insert="~{fragments/head}"></th:block>

</head>
<body>
<section id="aa-signin">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <div class="aa-signin-area">
          <div class="aa-signin-form">
            <div class="aa-signin-form-title">
              <a class="aa-property-home" href="/">Hestia MD</a>
              <h4>Update your offer</h4>
            </div>
            <form class="contactform" th:action="@{/offers/update/(id = *{id})}" th:method="put" th:object="${offerAddBindingModel}" enctype="multipart/form-data">
              <div class="aa-single-field">
                <input th:field="${property.id}" hidden>
                <label for="city">City <span class="required">*</span></label>
                <select class="selectItem" id="city" name="city">
                  <option value="">Select City</option>
                  <option th:each="c : ${T(bg.softuni.myrealestateproject.model.enums.CityNameEnum).values()}" th:text="${c}" th:value="${c}"
                          th:selected="${c.name().equals(property.getCity().name())}"></option>
                </select>
                <small th:if="${#fields.hasErrors('city')}" th:errors="*{city}" class="text-danger"></small>
              </div>
              <div class="aa-single-field">
                <label for="area">Area <span class="required">*</span></label>
                <input th:field="${property.area}" type="text" required="required" aria-required="true" value="" name="area" id="area">
                <small th:if="${#fields.hasErrors('area')}" th:errors="*{area}" class="text-danger"></small>
              </div>
              <div class="aa-single-field">
                <label for="offerType">Offer type <span class="required">*</span></label>
                <select class="selectItem" id="offerType" name="offerType">
                  <option value="">Select Offer Type</option>
                  <option th:each="o : ${T(bg.softuni.myrealestateproject.model.enums.OfferTypeEnum).values()}" th:text="${o}" th:value="${o}"
                          th:selected="${o.name().equals(property.getOfferType().name())}"></option>
                </select>
                <small th:if="${#fields.hasErrors('offerType')}" th:errors="*{offerType}" class="text-danger"></small>
              </div>
              <div class="aa-single-field">
                <label for="estateType">Estate type <span class="required">*</span></label>
                <select class="selectItem" id="estateType" name="estateType">
                  <option value="">Select Estate Type</option>
                  <option th:each="e : ${T(bg.softuni.myrealestateproject.model.enums.EstateTypeEnum).values()}" th:text="${e.toString().replaceAll('_', ' ')}" th:value="${e}"
                          th:selected="${e.name().equals(property.getEstateType().name())}"></option>
                </select>
                <small th:if="${#fields.hasErrors('estateType')}" th:errors="*{estateType}" class="text-danger"></small>
              </div>
              <div class="aa-single-field">
                <label for="propertyType">Property type <span class="required">*</span></label>
                <select class="selectItem" id="propertyType" name="propertyType">
                  <option value="">Select Property Type</option>
                  <option th:each="p : ${T(bg.softuni.myrealestateproject.model.enums.PropertyTypeEnum).values()}" th:text="${p.toString().replaceAll('_', ' ')}" th:value="${p}"
                          th:selected="${p.name().equals(property.getPropertyType().name())}"></option>
                </select>
                <small th:if="${#fields.hasErrors('propertyType')}" th:errors="*{propertyType}" class="text-danger"></small>
              </div>
              <div class="aa-single-field">
                <label for="floor">Floor<span class="required">*</span></label>
                <input th:field="${property.floor}" type="number" required="required" aria-required="true" value="" name="floor" id="floor">
                <small th:if="${#fields.hasErrors('floor')}" th:errors="*{floor}" class="text-danger"></small>
                <label for="room">Rooms <span class="required">*</span></label>
                <input th:field="${property.room}" type="number" required="required" aria-required="true" value="" name="room" id="room">
                <small th:if="${#fields.hasErrors('room')}" th:errors="*{room}" class="text-danger"></small>

                <label for="bed">Beds <span class="required">*</span></label>
                <input th:field="${property.bed}" type="number" required="required" aria-required="true" value="" name="bed" id="bed">
                <small th:if="${#fields.hasErrors('bed')}" th:errors="*{bed}" class="text-danger"></small>
                <label for="bath">Baths <span class="required">*</span></label>
                <input th:field="${property.bath}" type="number" required="required" aria-required="true" value="" name="bath" id="bath">
                <small th:if="${#fields.hasErrors('bath')}" th:errors="*{bath}" class="text-danger"></small>

                <label for="quadrature">m2 <span class="required">*</span></label>
                <input th:field="${property.quadrature}" type="number" required="required" aria-required="true" value="" name="quadrature" id="quadrature">
                <small th:if="${#fields.hasErrors('quadrature')}" th:errors="*{quadrature}" class="text-danger"></small>
                <label for="price">Price <span class="required">*</span></label>
                <input th:field="${property.price}" type="number" required="required" aria-required="true" value="" name="price" id="price">
                <small th:if="${#fields.hasErrors('price')}" th:errors="*{price}" class="text-danger"></small>
              </div>
              <div class="aa-single-field">
                <label for="description">Description</label>
                <textarea th:field="${property.description}" name="description" id="description" rows="4" cols="50"></textarea>
              </div>
              <div>
                <label for="images">Property Images</label>
                <input type="file" multiple name="images" id="images">
              </div>
              <div class="aa-single-field">
                <label for="activeFrom">Active From <span class="required">*</span></label>
                <input th:field="${property.activeFrom}" type="date" required="required" aria-required="true" th:value="*{activeFrom}" name="activeFrom" id="activeFrom">
                <small th:if="${#fields.hasErrors('activeFrom')}" th:errors="*{activeFrom}" class="text-danger"></small>
              </div>
              <div class="aa-single-submit">
                <input class="aa-secondary-btn" type="submit" value="Save">
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>


<!-- jQuery library -->
<!--<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script> -->
<script src="/js/jquery.min.js"></script>
<!-- Include all compiled plugins (below), or include individual files as needed -->
<script src="/js/bootstrap.js"></script>
<!-- slick slider -->
<script type="text/javascript" src="/js/slick.js"></script>
<!-- Price picker slider -->
<script type="text/javascript" src="/js/nouislider.js"></script>
<!-- mixit slider -->
<script type="text/javascript" src="/js/jquery.mixitup.js"></script>
<!-- Add fancyBox -->
<script type="text/javascript" src="/js/jquery.fancybox.pack.js"></script>
<!-- Custom js -->
<script src="/js/custom.js"></script>

</body>
</html>